.content{
    font-family: 'Open Sans Condensed', sans-serif, verdana;
    text-align: center;
    padding-bottom:10.15rem;
    width:50%;
    margin-left:25%;
    margin-top:3rem;
    color:black;
    background-color:rgba(255, 255, 255, 0.932);
  }
  #socialreservationf{
    color:black;
  }
  #socialreservationf:hover{
    color:rgb(70, 96, 153);
  }
  #socialreservationi{
    color:black;
  }
  #socialreservationi:hover{
    color:#E1306C;
  }
  #socialreservationt{
    color:black;
  }
  #socialreservationt:hover{
    color:#55ACEE;
  }
  #socialreservations{
    color:black;
  }
  #socialreservations:hover{
    color:#fffc00;
  }
  