.flexcontentcontact{
  padding-bottom:10.15rem;
  padding-top:0.25rem;
  width:100%;
  background-color:black;
}
.parentflexbox1{
  display: flex;
  flex-wrap: wrap;
  width:100%;
  background-color:white;
  padding-bottom:2rem;
}
label{
  padding-top:1%;
  font-size:1.2rem;
}
.openinghours{
  font-family: 'Open Sans Condensed', sans-serif, verdana;
  width:50%;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  text-align:center;
  padding-top:2.4rem;
}
address{
  font-size:1.2rem;
}
.content{
  font-family: 'Open Sans Condensed', sans-serif, verdana;
  justify-content:center;
  text-align:center;
  padding-top:2rem;
  width:50%;
  color:black;
  background-color:rgba(255, 255, 255, 0.932);
}
input, select, textarea{
  padding: 8px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid rgb(221, 221, 221);
  -webkit-transition: 0.5s;
  border-radius: 4px;
  width:50%;
}
input:focus {
  border: 2px solid rgb(136, 136, 136);
  outline: none;
}
.inputInvalid{
  background-color:rgba(236, 74, 48, 0.575);
  -moz-box-shadow: none;
  border: 2px solid rgb(104, 103, 103);
  outline: none;
}

textarea:focus{
  border: 2px solid rgb(136, 136, 136);
  outline: none;
}
select:focus{
  border: 2px solid rgb(136, 136, 136);
  outline: none;
}
/*SUBMIT BUTTON*/
#reservationbutton {
  width: 20%;
  background-color: #818181f1;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom:2rem;
}
#reservationbutton:hover {
  background-color:#555454f1;
}
#reservationbutton:focus{
  border: 2px solid rgb(0, 0, 0);
  outline-color: black;
}
address{
  line-height: 200% !important;
  text-align:start;
}
@media only screen and (max-width: 1050px) {
  .content{
    width:100%;
  }
  .openinghours{
    width:100%;
  }
  input, select, textarea{
    width:68%;
  }
}
#socialreservationf{
  color:black;
}
  #socialreservationf:hover{
    color:rgb(70, 96, 153);
  }
  #socialreservationi{
    color:black;
  }
  #socialreservationi:hover{
    color:#E1306C;
  }
  #socialreservationt{
    color:black;
  }
  #socialreservationt:hover{
    color:#55ACEE;
  }
  #socialreservations{
    color:black;
  }
  #socialreservations:hover{
    color:#fffc00;
  }
  
  