.flexcontentmenu{
    padding-bottom:10.15rem;
    padding-top:2rem;
    width:100%;
  }
  .parentflexbox1{
    display: flex;
    flex-wrap: wrap;
    width:100%;
  }
  @media only screen and (max-width: 1050px) {
    .parentflexbox1{
      flex-direction:column;
    }
  .flexboxstarters{
    width:100%;
  }
  .flexboxsalads{
    width:100%;
  }
  .flexboxfood{
    width:100%;
  }
  .flexboxsteakschops{
    width:100%;
  }
  .flexboxpastas{
    width:100%;
  }
  .flexboxdesserts{
    width:100%;
  }
  }
  .flexboxstarters{
    width:50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:yellow;
  }
  .flexboxsalads{
    width:50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:green;
  }
  .flexboxseafood{
    width:50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .flexboxsteakschops{
    width:50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .flexboxpastas{
    width:50%;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
  }
  .flexboxdesserts{
    width:50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .menu-dish-heading{
    font-size:2rem;
    font-family: 'Open Sans Condensed', sans-serif, verdana;
  }
  .menu-dish{
    font-size:1.4rem;
    font-family:'Open Sans Condensed', sans-serif, verdana;
  }
  .menu-dish-description{
    font-size:1.4rem;
  }
    /*BACK TO TOP BUTTON*/
    #myBtn {
      display: none;
      position: fixed;
      bottom: 3%;
      right: 3%;
      z-index: 99;
      font-size: 1.2rem;
      outline: none;
      background-color:black;
      color: white;
      cursor: pointer;
      padding: 1%;
      border-radius: 6%;
      border:1px solid white;
    }
    
  #myBtn:hover {
      background-color:#545454;
    }