html {
  scroll-behavior: smooth;
}
.flexcontentmenu{
    padding-bottom:10.15rem;
    padding-top:0.25rem;
    width:100%;
    background-color:#1B1C1E;
  }
  .parentflexbox1{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    background-color:white;
  }
  .flexboxstarters{
    width:50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;
    padding-top:2rem;
  }
  .flexboxsalads{
    width:50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;
    padding-top:2rem;
  }
  .flexboxfood{
    width:50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  @media only screen and (max-width: 1050px) {
    .menu-dish-heading{
      font-size:1.8rem !important;
    }
    .menu-dish{
      font-size:1.4rem !important;
    }
    .menu-dish-description{
      font-size:1.2rem !important;
    }
    .parentflexbox1{
      flex-direction:column;
    }
    .flexboxstarters{
      width:100%;
    }
    .flexboxsalads{
      width:100%;
      padding-top:0rem;
    }
    .flexboxfood{
      width:100%;
    }
  }
  .menu-dish-heading{
    font-size:2rem;
    font-family: 'Open Sans Condensed', sans-serif, verdana;
  }
  .menu-dish{
    font-size:1.5rem;
    font-family:'Open Sans Condensed', sans-serif, verdana;
  }
  .menu-dish-description{
    font-size:1.4rem;
    font-family:'Open Sans Condensed', sans-serif, verdana;
    font-style: italic;
  }
    /*BACK TO TOP BUTTON*/
    #backToTopBtn {
      display: none;
      position: fixed;
      bottom: 3%;
      right: 3%;
      z-index: 99;
      font-size: 1.2rem;
      outline: none;
      background-color: #818181f1;
      color: white;
      cursor: pointer;
      padding: 1%;
      border-radius: 6%;
      border:1px solid white;
    }
    
  #backToTopBtn:hover {
    background-color:#555454f1;
    }
