label{
    padding-top:1%;
  }
/*RESERVATIONS PAGE BUTTON*/
.button{
  background-color: #545454e1;
  border: none;
  color: white;
  padding-top: 1%;
  padding-bottom:1%;
  padding-left:2%;
  padding-right:2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  cursor: pointer;
  margin-bottom:1rem;
}
.button:hover{
  background-color:black;
}