label{
    padding-top:1%;
  }
.content{
  font-family: 'Open Sans Condensed', sans-serif, verdana;
  text-align: center;
  padding-bottom:10.15rem;
  padding-top:2rem;
  width:50%;
  margin-left:25%;
  margin-top:3rem;
  color:black;
  background-color:rgba(255, 255, 255, 0.932);
}
/*FORM STYLING*/ 
input{
  padding: 8px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid rgb(235, 235, 235);
  border-radius: 4px;
}
input:focus {
  border: 2px solid rgb(189, 189, 189);
  outline: none;
}
/*RESERVATIONS PAGE BUTTON*/
.button{
  background-color: #545454e1;
  border: none;
  color: white;
  padding-top: 1%;
  padding-bottom:1%;
  padding-left:2%;
  padding-right:2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.4rem;
  cursor: pointer;
  border-radius:3px;
  margin-bottom:1rem;
}
.button:hover{
  background-color:black;
}
@media screen and (max-width: 1050px) {
  .content{
    width:100%;
    margin-left:0;
    margin-top:0;
  }
}