label{
    padding-top:1%;
  }
.content{
  font-family: 'Open Sans Condensed', sans-serif, verdana;
  text-align: center;
  padding:1.5rem 0rem;
  width:50%;
  margin-left:25%;
  margin-top:54px;
  color:black;
  border-radius: 4px;
  background-color:rgba(255, 255, 255, 0.932);
}
/*FORM STYLING*/ 
input, select, textarea{
  padding: 8px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid rgb(221, 221, 221);
  -webkit-transition: 0.5s;
  border-radius: 4px;
  width:50%;
}
input:focus {
  border: 2px solid rgb(189, 189, 189);
  outline: none;
}
textarea:focus{
  border: 2px solid rgb(189, 189, 189);
  outline: none;
}
select:focus{
  border: 2px solid rgb(189, 189, 189);
  outline: none;
}
/*SUBMIT BUTTON*/
#reservationbutton {
  width: 20%;
  background-color: #545454e1;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom:2rem;
}
#reservationbutton:hover {
  background-color:black;
}
/*SPACE ABOVE THE FOOTER*/
.flex-container{
  margin-top:200px;
}
@media screen and (max-width: 1050px) {
  .content{
    width:100%;
    border-radius: 0px;
    margin-left:0;
    margin-top:54px;
  }
}