body{
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
    width: 100%;
}
footer{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align:center;
    background-color:rgba(0, 0, 0, 0.897);
    color:black;
    padding-top:1%;
    padding-bottom:1%;
    font-weight: 500;
    color: white;
    position:absolute;
    width:100%;
}
.content{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    width:100%;
    padding-top:3%;
    padding-right:10%;
    padding-left:10%;
    padding-bottom:3%;
}
p{
    text-align:start;
    font-size:1.5vw;
}
#a{
    color:white;
}
#a:hover{
    color:rgb(190, 190, 190);
}
#id{
    content:center;
    padding:1%;
}
  .container {
    position: relative;
    width: 100%;
  }
  
  /* Make the image responsive */
  .container img {
      width:35%;
      height:33%;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .container .btn {
    position: absolute;
    top: 50%;
    left: 34%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(143, 143, 143, 0.836);
    color: white;
    font-size: 16px;
    padding: 1vw 1.5vw;
    border: none;
    cursor: pointer;
    border-radius: 1%;
  }
  
  .container .btn:hover {
    color:white;
    background-color: rgb(0, 0, 0);
  }
/*MENU RESPONSIVE COLUMNS*/
{
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
 
  
/*NAVBAR CODE BEGINS*/
.navbar-brand{
    color:white;
}
.navbar.navbar-expand-md{
    background-color: black;
    color:white;
}
.mb-1.navbar.navbar-expand-lg.navbar-dark.info-color{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:black;
    color:white;
    padding-bottom:1%;
    padding-top:1%;
}
.navbar-item.nav-link{
    color:white;
}

