@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
body{
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif, verdana;
    width: 100%;
}
footer{
    font-family: 'Open Sans Condensed', sans-serif, verdana;
    text-align:center;
    background-color:rgba(0, 0, 0, 0.897);
    color:black;
    font-weight: 500;
    font-size: 1.2vw;
    color: white;
    position:absolute;
    bottom:0;
    padding-top:1%;
    height:4rem;
    width:100%;

}
#page-container{
  position:relative;
  min-height:100vh;
}
.content{
    font-family: 'Open Sans Condensed', sans-serif, verdana;
    text-align: center;
    width:100%;
    padding-top:3%;
    padding-right:10%;
    padding-left:10%;
    padding-bottom:5rem;
}
p{
    text-align:center;
    font-size:1.2rem;
    font-weight:500;
}

#homepictures{
    content:center;
    padding:1%;
}

.container{
    position: relative;
    width: 100%;
  }
  /*BACK TO TOP BUTTON*/
  #myBtn {
    display: none;
    position: fixed;
    bottom: 5%;
    right: 4%;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color:rgba(143, 143, 143, 0.973);
    color: white;
    cursor: pointer;
    padding: 1%;
    border-radius: 6%;
  }
  
#myBtn:hover {
    background-color: rgb(3, 3, 3);
  }
  /* Make the image responsive */
.container img {
      width:40%;
      height:35%;
  }
  
  /* Style the button and place it in the middle of the container/image */
.container .btn {
    position: absolute;
    top: 50%;
    left: 31%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(143, 143, 143, 0.836);
    color: white;
    font-size: 1.7vw;
    padding: 1vw 1.5vw;
    border: none;
    cursor: pointer;
    border-radius: 1%;
  }
  
.container .btn:hover {
    color:white;
    background-color: rgb(0, 0, 0);
  }
hr{
    width:30%;
  }
.menu-dish-heading{
  font-size:2rem;
  font-family: 'Open Sans Condensed', sans-serif, verdana;
  font-weight: 500;
}
.menu-dish{
  font-size:1.4rem;
  font-family:'Open Sans Condensed', sans-serif, verdana;
}
.menu-dish-description{
  text-align:center;
  font-size:1.4rem;
}
  
/*NAVBAR CODE BEGINS*/
#a{
  color:white;
  font-size:1.2rem;
}
#a:hover{
  color:rgb(190, 190, 190);
}
.navbar.navbar-expand-md{
    background-color: black;
    color:white;
}
.mb-1.navbar.navbar-expand-lg.navbar-dark.info-color{
    font-family: 'Open Sans Condensed', sans-serif, verdana;
    background-color:black;
    color:white;
    padding-bottom:1%;
    padding-top:1%;
}
.navbar-item.nav-link{
    color:white;
}

