body{
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
    width: 100%;
}
footer{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align:center;
    background-color:rgba(0, 0, 0, 0.897);
    color:black;
    padding-top:1%;
    padding-bottom:1%;
    font-weight: 500;
    color: white;
    position:absolute;
    width:100%;
    font-size: small;
}
.content{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    width:100%;
    padding-top:2%;
    padding-right:5%;
    padding-left:5%;
    padding-bottom:2%;
}
.navbar-brand{
    color:white;
}

.navbar.navbar-expand-md{
    background-color: black;
    color:white;
}
#id{
    content:center;
    padding:1%;
}
a{
    color:white;
    float:right;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:6vw;
  }




  .container {
    position: relative;
    width: 100%;
  }
  
  /* Make the image responsive */
  .container img {
      width:32%;
      height:33%;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 1vw 1.5vw;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .container .btn:hover {
    color:white;
    background-color: rgb(58, 57, 57);
  }

/*NAVBAR CODE BEGINS*/
.mb-1.navbar.navbar-expand-lg.navbar-dark.info-color{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:black;
    color:white;
    padding-bottom:1%;
    padding-top:1%;
}
}
.navbar-item.nav-link{
    color:white;
}

